<div id="_sho-mng-div-details" class="bg-[#191f22] overflow-y-scroll w-screen md:w-full">
    <div class="flex flex-col gap-8 p-4 items-center justify-center">
        <div class="flex flex-col gap-4 w-full md:w-4/5">
            <h1 class="text-white font-bold text-4xl w-4/5 mt-8">Account Details</h1>
            <div class="flex flex-row gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8"></path>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"></path>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"></path>
                </svg>
                <p class="text-gray-300 font-normal text-sm md:text-md">Fields that contains this icon have to follow our <a href="https://beta.shoshin.moe/guidelines" class="text-blue-500 hover:underline hover:cursor-pointer hover:text-blue-400 underline-offset-2">Community Guidelines</a>.</p>
            </div>
        </div>
        <div class="border-orange-500 border w-full md:w-4/5 p-4 gap-16 rounded-sm relative">
            <div class="gap-4">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8"></path>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"></path>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"></path>
                        </svg>
                        <p class="text-white font-medium text-2xl">Public Assets</p>
                    </div>
                    <p class="text-gray-300 font-normal text-md">Here are your public profile picture and banner image. These will be visible on your profile page by anyone who visits it.</p>
                    <div class="flex flex-col md:flex-row gap-2 md:gap-28 w-full items-center">
                        <div>
                            <p class="text-white font-semibold text-lg mt-0 md:mt-4 mb-3">Profile Picture</p>
                            <div class="bg-gray-500/30 p-2 md:p-4 rounded-md w-auto">
                                <div class="bg-gray-500/20 p-2 md:p-6 rounded-full relative group">
                                    <div class="h-full w-full flex items-center justify-center overflow-hidden">
                                        <img src="https:///beta.shoshin.moe/static/assets/default_avatar.png" class="rounded-full hover:opacity-50 hover:cursor-pointer">
                                        <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-sm hidden group-hover:block select-none">Edit Picture</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="text-white font-semibold text-lg mt-0 md:mt-4 mb-3">Banner Image</p>
                            <div class="bg-gray-500/25 py-6 rounded-md relative group mb-4 w-full md:w-1/2">
                                <div class="flex items-center justify-center overflow-hidden">
                                    <img src="https:///beta.shoshin.moe/static/assets/default_banner.png" class="hover:opacity-50 hover:cursor-pointer">
                                    <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-sm hidden group-hover:block select-none">Edit Banner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-orange-500 border w-full md:w-4/5 p-4 gap-16 rounded-sm relative">
            <div class="flex flex-col gap-2">
                <div class="flex flex-row gap-2 items-center">
                    <p class="text-white font-medium text-2xl">Username & UID</p>
                </div>
                <p class="text-gray-300 font-normal text-sm mb-4">Your public username is used to identify you on the platform. It is unique and cannot be changed due to security reasons. The same goes for your UID, it's an unique identifier used to identify you.</p>
                <div class="flex flex-row gap-2">
                    <input disabled="" id="_sho-mng-username-field" type="text" class="w-full md:w-96 h-12 bg-[#2A3439] text-white text-lg p-4 rounded-md border-2 border-orange-500 hover:cursor-not-allowed" value="{{ data['username'] }}" placeholder="Username">
                    <input disabled= id="_sho-mng-username-field" type="text" class="w-full md:w-96 h-12 bg-[#2A3439] text-white text-lg p-4 rounded-md border-2 border-orange-500 select-all" value="{{ data['uid'] }}" placeholder="UID">
                </div>
            </div>
        </div>
        <div class="border-orange-500 border w-full md:w-4/5 p-4 gap-16 rounded-sm relative">
            <div class="flex flex-col gap-2">
                <div class="flex flex-row gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8"></path>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"></path>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"></path>
                    </svg>
                    <p class="text-white font-medium text-2xl">Biography</p>
                </div>
                <p class="text-gray-300 font-normal text-sm mb-4">Tell us a little bit about yourself. This will be visible on your profile page.</p>
                <textarea id="_sho-mng-bio-field" rows="4" class="w-full md:w-1/2 h-auto bg-[#2A3439] text-white text-lg p-4 rounded-md border-2 border-orange-500 resize-none" placeholder="Biography">None</textarea>
            </div>
        </div>
        <div class="border-orange-500 border w-full md:w-4/5 p-4 gap-16 rounded-sm relative">
            <div class="flex flex-col gap-2">
                <div class="flex flex-row gap-2 items-center">
                    <p class="text-white font-medium text-2xl">In-Game UIDs</p>
                </div>
                <p class="text-gray-300 font-normal text-sm mb-4">Your In-Game UIDs are the UIDs associated with your in-game accounts. These cannot be edited manually due to security reasons. 
                    <a href="https://shoshin.moe/contact" class="text-blue-500 hover:underline hover:cursor-pointer hover:text-blue-400 underline-offset-2">Get in touch!</a>
                </p>
                <div class="flex flex-row gap-4 items-center">
                    <div class="flex flex-col gap-2">
                        <p class="text-white font-semibold text-md">Wuthering Waves</p>
                        <input disabled="" id="_sho-mng-uid-wuwa-field" type="text" class="w-full md:w-96 h-12 bg-[#2A3439] text-white text-lg p-4 rounded-md border-2 border-orange-500 hover:cursor-not-allowed" value="324987232" placeholder="In-Game UID">
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-white font-semibold text-md">Zenless Zone Zero</p>
                        <input disabled="" id="_sho-mng-uid-zzz-field" type="text" class="w-full md:w-96 h-12 bg-[#2A3439] text-white text-lg p-4 rounded-md border-2 border-orange-500 hover:cursor-not-allowed" value="ZZZ" placeholder="In-Game UID">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>