<div id="_sho-mng-div-friends" class="bg-[#191f22] overflow-y-scroll w-screen md:w-full">
    <div class="flex flex-col gap-8 items-center justify-center rounded-md m-8 h-full">
        <div class="w-full h-full bg-[#0F1214] rounded-t-md relative">
            <div class="flex flex-row gap-2 items-center ml-4 p-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-people-fill" viewBox="0 0 16 16">
                  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>
                <p class="text-gray-300 font-bold text-2xl">Manage Friends</p>
                <hr class="h-10 w-px bg-gray-200 border-0 mx-4">
                <div class="flex flex-row gap-8 items-center">
                    <p id="_sho-currentFriendsButton" class="text-gray-300 font-medium text-lg hover:bg-gray-700/30 rounded-md px-2 py-1 hover:cursor-pointer">My Friends</p>
                    <p id="_sho-requestInOutButton" class="text-gray-300 font-medium text-lg hover:bg-gray-700/30 rounded-md px-2 py-1 hover:cursor-pointer">Requests</p>
                    <p id="_sho-blockedFriendsButton" class="text-gray-300 font-medium text-lg hover:bg-gray-700/30 rounded-md px-2 py-1 hover:cursor-pointer">Blocked</p>
                    <p id="_sho-sendFriendRequest-button" class="text-white font-medium text-lg bg-green-600 px-2 py-1 rounded-md transition duration-150 ease-out hover:bg-green-500 hover:cursor-pointer">Send Friend Request</p>
                    <div id="shoshin-friends-popup" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[500px] z-10 bg-white/10 backdrop-blur-sm w-1/2 rounded-md overflow-auto">
                        <div class="flex flex-col gap-2 m-4">
                            <div class="h-12 bg-[#191f22] rounded-md relative">
                                <div class="flex flex-row items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-search ml-4 translate-y-1/2" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                    <input id="_sho-friendSearchInput" class="text-white font-semibold ml-4 w-full bg-transparent translate-y-1/2 border-none outline-none" placeholder="Paste their UID here or search by Username!"/>
                                </div>
                            </div>
                            <div id="shoshin-friends-found" class="flex flex-col gap-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-[#14181b] h-full relative rounded-b-md">
                <div id="_sho-acceptedFriendsDiv" class="flex flex-col gap-2">
                    <!-- For loop using Jinja2 thru their friend list -->
                    <img src="https://beta.shoshin.moe/static/no_friends.png" class="w-1/3 mx-auto">
                </div>
                <div id="_sho-friendRequestsDiv" class="flex flex-col gap-2 hidden">
                    <!-- For loop using Jinja2 thru their friend list -->
                    <img src="https://beta.shoshin.moe/static/no_friends.png" class="w-1/3 mx-auto">
                </div>
                <div id="_sho-blockedFriendsDiv" class="flex flex-col gap-2 hidden">
                    <!-- For loop using Jinja2 thru their friend list -->
                    <img src="https://beta.shoshin.moe/static/no_friends.png" class="w-1/3 mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>